
<% @cocktails.each do |cocktail| %>
<div class="product">
  <div class='product-upvote'>
    <div class="product"></div>
  </div>
  <%= image_tag("cocktail.png", :class => "product-image hidden-xs") %>
  <div class='product-body'>
    <h3><%= link_to cocktail.name, cocktail_path(cocktail)%></h3>
  </div>
  <ul class="list-inline product-controls hidden-sm hidden-xs">
    <li><%= link_to '<i class="fas fa-cocktail"></i>'.html_safe, new_cocktail_dose_path(cocktail) %></li>
  </ul>
</div>
<%end%>






