<div class="wrapper">
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(130,0,80,0.3) 0%, rgba(50,0,25,0.3) 50%), url('http://i63.tinypic.com/xljqkl.jpg');">
  <div class="banner-content">
    <h1>Mister Cocktail</h1>
    <p>Learn to code with us in Berlin</p>
    <!-- <a class="btn btn-primary btn-lg">Start now</a> -->
  </div>
</div>

<h2>Cocktail List</h2>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <div class="card card-link" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-description">
          <%= link_to cocktail.name, cocktail_path(cocktail), :class => "text-center"%>
        </div>
      </div>
    </div>
    <%end%>
  </div>
</div>
