.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  border-radius: 1px;
  // margin-left: ;
  // margin-right: ;
  // margin-top: 0 ;
  margin-bottom: 25px;
}

.card-description {
  position: absolute;
}

.card-description a {
  font-size: 24px;
  color: white;
  text-decoration: none;
}

.card-link:hover {
  opacity: 0.1;
}

.text-center a {
    text-align: center;
}

